* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 80px;
  margin-left: 10px;
  /* text-align: center; */
  color: rgb(229, 155, 19);
}

.memory {
  color: gray;
}

img {
  width: 180px;
  height: 120px;
  border: 2px solid black;
}

.container {
  /* border: 4px solid black  ; */
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.attempts {
  font-size: 20px;
  border: 3px solid blue;
  width: 30%;
}

.game-over {
  border: 2px solid black;
  font-size: 100px;
  color: black;
  text-align: center;
}

.game-info {
  /* margin: 5px 0; */
  text-align: center;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 238, 220);
}

.card-div:hover {
  cursor: pointer;
}

.score p:first-child,
.tries p:first-child,
.level p:first-child {
  font-weight: bold;
  font-size: 20px;
}

.score-2,
.tries-2 {
  font-size: 15px;
  border: 2px solid orangered;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
}

.play {
  width: 300px;
  padding: 10px;
  /* margin: 50px 50%; */
  margin-top: 40%;
  margin-left: 40%;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(30, 30, 30);
}

.play:hover {
  color: orangered;
  cursor: pointer;
}

.timer-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

/* win screen */
.win-div {
  margin: 100px;
  display: flex;
  flex-direction: column;
  /* border: 5px solid rgb(211, 36, 36); */
  align-items: center;
}

.win-buttons {
  margin-top: 200px;
  display: flex;
  gap: 20px;
}

.play-again,
.next {
  width: 150px;
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(30, 30, 30);
}

.play-again:hover,
.next:hover {
  color: rgb(10, 101, 45);
  cursor: pointer;
}

.gameover-div {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-again {
  margin-top: 200px;
}

.try {
  width: 100px;
  font-size: 15px;
  margin: 10px 50%;
  background-color: rgb(136, 208, 42);
}

.hide {
  display: none;
}

.timer {
  border: 2px solid black;
  color: rgb(76, 27, 201);
}

@media all and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 1px;
    overflow-x: hidden;
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .try {
    height: 40px;
    margin-left: 40%;
    margin-right: 45%;
    padding: 10px;
  }
  .timer-div {
    margin-bottom: 5px;
    margin-left: 45%;
    margin-right: 45%;
  }
  h1 {
    padding: 10px;
    margin-top: 5px;
    font-size: 25px;
  }
  .game-info {
    width: 100%;
    height: 50px;
  }
  .timer {
    height: 20px;
  }
  .play {
    font-size: 10px;
    width: 100px;
    margin-right: 100%;
  }
}
